<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <context-param>
        <param-name>logcapture-format-pattern</param-name>
        <param-value>%1$tY-%1$tm-%1$td %1$tH:%1$tM:%1$tS %4$s [%3$s] %5$s (%2$s)%n</param-value>
    </context-param>

    <listener>
        <listener-class>biz.paluch.logcapture.jbossas7x.InstallLogCollectorContextListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>LogControlService</servlet-name>
        <servlet-class>biz.paluch.logcapture.jbossas7x.LogControlServicePort</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>LogControlService</servlet-name>
        <url-pattern>/ws/LogControlService</url-pattern>
    </servlet-mapping>

</web-app>
